body {
  font-family: 'Montserrat', sans-serif;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }
}

img {
  user-select: none;
  pointer-events: none;
}