@use "sass:color";

.roomPage {
  display: flex;
  height: calc(100vh - 70px);
  background-color: $beige-light;
  font-family: $font-main;

  &__main {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    z-index: 1;
    align-items: center;
  }

  &__visual {
    position: relative;
    width: 100%;
    height: 350px;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    mask-image: linear-gradient(to bottom, black 60%, transparent 100%),
      linear-gradient(to right, black 60%, transparent 100%),
      linear-gradient(to left, black 60%, transparent 100%) ;

    mask-composite: intersect;
  }

  &__gameTitle {
    font-family: $font-logo;
    font-size: 54px;
    font-weight: 400;
    color: #1e1e1e;
    margin-top: -40px;
    position: relative;
    z-index: 2;
    text-shadow: 0 4px 10px rgba($beige-light, 0.5);
  }

  &__rules {
    font-size: 20px;
    color: #1e1e1e;
    margin-top: 5px;
  }

  &__players {
    flex: 1;
    background-color: $sage-gray;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: -4px 0 15px rgba(0, 0, 0, 0.05);
    z-index: 5;
  }

  &__playersTitle {
    color: $forest-dark;
    font-size: 24px;
    margin-bottom: 18px;
  }

  &__playerList {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__actions {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__btnInvite, &__btnExit, &__btnDelete {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: none;
    border-radius: 10px;
    padding: 14px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.2s;
  }

  &__btnInvite {
    background-color: $forest-mid;
    color: $beige-light;
    &:hover { background-color: $forest-dark; }
  }

  &__btnExit {
    background-color: $metal-gray;
    color: $beige-light;
    &:hover { background-color: color.adjust($metal-gray, $lightness: -10%); }
  }

  &__btnDelete {
    background-color: $decline;
    color: $beige-light;
    &:hover { background-color: $forest-dark; }
  }
}

.loading, .error {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  background-color: $beige-light;
  color: #1e1e1e;
}

.copyToast {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: $forest-mid;
  color: $beige-light;
  padding: 14px 24px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  z-index: 2000;
  border: 1px solid rgba($beige-light, 0.1);
  pointer-events: none;

  &__icon {
    color: $accept;
  }

  span {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
  }
}

.kickedModal {
  background-color: $beige-light;
  border: 6px solid $forest-mid;
  border-radius: 20px;
  padding: 30px 40px;
  text-align: center;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);

  &__image {
    width: 260px;
    height: auto;
    opacity: 0.5;
    filter: grayscale(100%);
    margin-bottom: 15px;
  }

  &__title {
    font-size: 28px;
    font-weight: 600;
    color: $forest-dark;
    margin-bottom: 15px;
  }

  &__text {
    font-size: 16px;
    color: $forest-dark;
    line-height: 1.5;
    margin-bottom: 20px;
  }

  &__layout {
    display: flex;
    justify-content: right;
  }

  &__btn {
    all: unset;
    cursor: pointer;
    padding: 14px;
    border-radius: 12px;
    font-weight: 600;
    font-size: 20px;
    transition: background-color 0.3s;
    background-color: $forest-mid;
    color: $beige-light;

    &:hover {
      background-color: color.adjust($forest-mid, $lightness: -5%);
    }
  }
}