@use "sass:color";

.pageWrapper {
  display: flex;
  flex: 1;
  background-color: $beige-light;
  overflow: hidden;
  height: 100%;
}

.mainPage {
  flex: 1;
  padding: 20px 40px;
  overflow-y: auto;
  height: 100%;

  &__title {
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 25px;
    letter-spacing: 1px;
    border-bottom: 2px solid $sage-gray;
    padding-bottom: 10px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 30px;
    align-items: start;
  }
}

.selectionModal {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: $beige-light;
  padding: 15px 40px;
  border-radius: 50px;
  z-index: 200;
  display: flex;
  align-items: center;
  gap: 20px;

  p {
    font-weight: 500;
    font-size: 24px;
    margin: 0;
  }

  .cancelBtn {
    background-color: $sage-gray;
    padding: 6px 20px;
    border-radius: 10px;
    font-family: $font-main;
    font-weight: 500;
    font-size: 18px;
    transition: all 0.2s ease;
    border: 1px solid transparent;
    cursor: pointer;

    &:hover { background-color: color.adjust($sage-gray, $lightness: 5%); }
  }
}

.sidebar {
  background-color: $sage-gray;
  width: 450px;
  height: calc(100vh - 70px);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 20px 30px;
  position: sticky;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  &__title  {
    font-family: $font-main;
    color: #1e1e1e;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 15px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-grow: 1;
    overflow-y: auto;
    padding-right: 5px;
    padding-bottom: 80px;

    mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
  }

  &__createButton{
    margin-top: 20px;
    background-color: $forest-mid;
    color: $beige-light;
    border: none;
    border-radius: 12px;
    padding: 18px;
    font-size: 32px;
    font-family: $font-main;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      opacity: 0.9;
      background-color: $forest-dark;
    }
  }
}