.sidebar {
  background-color: $sage-gray;
  width: 450px;
  height: calc(100vh - 70px);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 20px 30px;
  position: sticky;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  &__title  {
    font-family: $font-main;
    color: #1e1e1e;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 15px;
  }

  &__list {
    display: flex;
  flex-direction: column;
  gap: 15px; 
  flex-grow: 1; 
  overflow-y: auto; 
  padding-right: 5px;
  padding-bottom: 40px;

  mask-image: linear-gradient(to bottom, black 80%, transparent 100%);

  &::-webkit-scrollbar {
    width: 7px; 
  }

  &::-webkit-scrollbar-track {
    background: transparent; 
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
    
    &:hover {
      background-color: rgba(0, 0, 0, 0.4);
      cursor: pointer;
    }
  }
  }

  &__create-button{
    margin-top: 20px;
    background-color: $forest-mid;
    color: $beige-light;
    border: none;
    border-radius: 12px;
    padding: 18px;
    font-size: 32px;
    font-family: $font-main;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      opacity: 0.9;
      background-color: $forest-dark;
    }
  }
}









