@use "sass:color";

.guestLogin {
  background-color: $beige-light;
  border: 6px solid $forest-mid;
  border-radius: 20px;
  padding: 30px 40px;
  text-align: center;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);

  &__title {
    font-size: 28px;
    color: $forest-dark;
    margin-bottom: 25px;
    font-weight: 600;
  }

  &__inputGroup {
    margin-bottom: 25px;
    position: relative;
  }

  &__label {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);

    font-family: $font-main;
    font-size: 18px;
    color: $metal-gray;
    pointer-events: none;
    transition: all 0.2s ease;

    background-color: $beige-light;
    padding: 0 3px;
    border-radius: 5px;
  }

  &__input {
    font-family: $font-main;
    width: 100%;
    background-color: transparent;
    border: 2px solid $forest-mid;
    border-radius: 10px;
    padding: 14px 20px;
    font-size: 20px;
    color: #1e1e1e;
    outline: none;
    transition: all 0.2s ease;

    &:focus {
      box-shadow: 0 0 0 3px rgba($forest-mid, 0.3);
      border-color: $forest-dark;
    }
  }

  &__input:focus + &__label,
  &__input:not(:placeholder-shown) + &__label {
    top: 0;
    font-size: 14px;
    color: $forest-dark;
    font-weight: 600;
    transform: translateY(-50%) scale(0.9);
    opacity: 1;
  }

  &__authInfo {
    margin-bottom: 30px;
    font-size: 16px;
    color: #1e1e1e;
    line-height: 1.5;
  }

  &__authBtn {
    font-family: $font-main;
    color: $forest-dark;
    text-decoration: underline;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    margin-top: 2px;

    &:hover {
      color: $forest-mid;
    }
  }

  &__actions {
    display: flex;
    gap: 70px;
  }

  &__btnPrimary, &__btnSecondary {
    all: unset;
    cursor: pointer;
    flex: 1;
    padding: 14px;
    border-radius: 12px;
    font-weight: 600;
    font-size: 20px;
    transition: background-color 0.3s;
  }

  &__btnPrimary {
    background-color: $forest-mid;
    color: $beige-light;
    &:hover { background-color: color.adjust($forest-mid, $lightness: -5%); }
  }

  &__btnSecondary {
    background-color: $sage-gray;
    color: #1e1e1e;
    &:hover { background-color: color.adjust($sage-gray, $lightness: -5%); }
  }
}