@use "sass:color";

.playersList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
  margin-top: 10px;
  padding: 0 5px 40px 0;

  &__divider {
    height: 2px;
    width: 100%;
    margin: 15px 0;

    background: linear-gradient(
      90deg,
      transparent 0%,
      rgba($forest-dark, 0.6) 50%,
      transparent 100%
    );

    position: relative;
    &::after {
      content: '◈';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: rgba($forest-dark, 0.6);
      font-size: 14px;
      background-color: $sage-gray;
      padding: 0 8px;
    }
  }
}

.leftGameButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  background-color: $metal-gray;
  color: $beige-light;
  border: none;
  border-radius: 12px;
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
  font-family: $font-main;

  &:hover {
    background-color: #7a7a7a;
  }
}

.nexTile {
  position: absolute;
  top: 90px;
  right: 20px;
  z-index: 10;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;

  box-shadow: 0 0 15px var(--player-color);
  border: 2px solid var(--player-color);
  animation: glowPulse 3s infinite ease-in-out;
}

@keyframes glowPulse {
  0% {
    box-shadow: 0 0 5px var(--player-color);
    filter: brightness(1);
  }
  50% {
    box-shadow: 0 0 25px var(--player-color);
    filter: brightness(1.1);
  }
  100% {
    box-shadow: 0 0 5px var(--player-color);
    filter: brightness(1);
  }
}